.work__page {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
    padding-top: 120px;


    &.background {
        background: url('/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &.bg__dark {
        background: url('/intro_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .work {
        padding-bottom: 80px;
        display: flex;
        flex-flow: column;
        width: 100%;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        min-height: 100vh;

        .work__header {
            width: 100%;
            display: flex;
            margin-top: 40px;

            .work__image {
                height: 500px;
                border-radius: 20px;
                width: auto;
            }

            .work__info {
                margin-left: 40px;

                .work__name {
                    color: #fff;
                    font-size: 50px;
                    font-weight: 300;
                }

                .work__description {
                    margin-top: 40px;
                    color: #ffffff97;
                    font-size: 20px;
                    line-height: 1.8;
                }

                .work__types {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    height: fit-content;
                    margin-top: 20px;

                    .type {
                        background: #367d6c29;
                        height: 50px;
                        border-radius: 10px;
                        backdrop-filter: blur(5px);
                        border: 1px solid #367D6C;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        padding-left: 30px;
                        padding-right: 30px;
                        color: #fff;
                        font-size: 18px;
                    }
                }

                .designed {
                    margin-top: 20px;
                    color: #414141;
                    font-size: 18px;
                }
            }

        }

        >h2 {
            width: 100%;
            text-align: left;
            color: #fff;
            font-size: 40px;
            font-weight: 300;
            margin-top: 40px;
        }

        .stats {
            width: 100%;
            height: fit-content;
            display: flex;
            margin-top: 20px;

            .stats__wrap {
                height: fit-content;
                width: 25%;
                display: flex;
                flex-flow: column;
                align-items: center;
                padding: 40px;
                border-right: 1px solid #367D6C;

                &:last-child {
                    border-right: 0;
                }

                .stats__number {
                    color: #367D6C;
                    font-size: 90px;
                }

                .stats__name {
                    color: #dddddd;
                    font-size: 18px;
                    text-align: center;
                }
            }


        }

        .text__wrap {
            width: 100%;
            display: flex;
            margin-top: 20px;
            justify-content: space-between;

            .text__image {
                height: 500px;
                width: auto;
                border-radius: 40px;
                border: 2px solid #367D6C;
            }

            .text__description {
                color: #fff;
                padding-right: 30px;
                line-height: 1.8;
                font-size: 18px;

                >span {
                    color: #367D6C;
                }
            }
        }

        .work__btn__wrap {
            width: 100%;
            margin-top: 40px;
            display: flex;
            justify-content: center;
            gap: 20px;

            .work__btn {
                background: #367D6C;
                padding: 40px;
                font-size: 23px;
                font-family: "Montserrat";
                border-radius: 20px;
                color: #fff;
                cursor: pointer;
                border: 0;
                transition: .3s;
                text-decoration: none;

                &:hover {
                    scale: 1.03;
                }

                &.second__btn {
                    border: 2px solid #367D6C;
                    background: transparent;

                }
            }
        }




    }
}

@media(max-width: 1659px) {

    .work__page {
        .work {
            .work__header {
                .work__info {
                    .designed {
                        color: #fff;
                    }
                }
            }

            .text__wrap {
                .text__image {
                    height: 400px;
                }

                .text__description {
                    font-size: 16px;
                }
            }

            .work__btn__wrap {
                .work__btn {
                    padding: 20px;
                }
            }
        }
    }
}

@media(max-width: 1420px) {
    .work__page {
        .work {
            .work__header {
                .work__image {
                    height: 400px;
                }

                .work__info {
                    .work__name {
                        font-size: 30px;
                    }

                    .work__description {
                        font-size: 16px;
                        margin-top: 20px;
                        line-height: 1.5;
                    }

                    .designed {
                        font-size: 12px;
                    }

                    .work__types {
                        .type {
                            .type__image {
                                height: 20px;
                                width: 20px;
                            }

                            font-size: 14px;
                        }
                    }
                }
            }

            .stats {
                .stats__wrap {
                    .stats__number {
                        font-size: 70px;
                    }
                }
            }


            .text__wrap {
                .text__image {
                    height: 300px;
                }

                .text__description {
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 1170px) {
    .work__page {


        &.bg__dark {
            background-position: top;
            background-size: contain !important;
        }

        .work {
            .stats {
                .stats__wrap {
                    .stats__number {
                        font-size: 50px;
                    }

                    .stats__name {
                        font-size: 14px;
                    }
                }
            }

            .work__header {
                flex-flow: column;

                .work__info {
                    margin-top: 20px;
                }
            }

            .text__wrap {
                flex-flow: column !important;
                padding: 0 !important;

                .text__description {
                    text-align: justify !important;
                    padding: 0 !important;
                }

                .text__image {
                    margin-top: 20px;
                }
            }

        }
    }
}

@media(max-width: 799px) {
    .work__page {
        .work {
            .stats {
                display: grid;
                justify-items: center;
                padding: 0;
                grid-template-columns: repeat(2, 50%) !important;
                width: 100%;

                .stats__wrap {
                    min-width: 100%;
                    max-height: 159px;
                    border-bottom: 1px solid #367D6C;

                    &:nth-child(3) {
                        border-bottom: 0;
                    }

                    &:nth-child(4) {
                        border-bottom: 0;
                    }

                    &:nth-child(2) {
                        border-right: 0;
                    }
                }
            }
        }
    }
}

@media(max-width: 624px) {
    .work__page {
        .work {
            padding-left: 20px;
            padding-right: 20px;

            >h2 {
                font-size: 30px;
            }

            .work__header {
                .work__info {
                    margin-left: 0;
                }

                .work__image {
                    height: 300px;
                }
            }

            .work__btn__wrap {
                .work__btn {
                    font-size: 14px;
                    padding: 10px;
                }
            }
        }
    }
}

@media(max-width: 460px) {
    .work__page {
        .work {
            .work__header {
                .work__image {
                    height: 220px;
                }
            }

            .text__wrap {

                .text__description {
                    font-size: 12px;
                }

                .text__image {
                    height: 220px;
                }
            }

            .stats {
                .stats__wrap {
                    .stats__number {
                        font-size: 45px;
                    }
                }
            }

            .work__types {
                display: grid !important;
                grid-template-columns: 50% 50% !important;

                .type {
                    padding-left: 10px;
                    padding-right: 10px;
                    width: 100%;
                }
            }
        }

        .work__btn__wrap {
            display: flex;
            flex-flow: column;
        }
    }
}