.work__page {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: hidden;


    &.background {
        background: url('/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &.bg__dark {
        background: url('/dark_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .work {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 10px;
        height: 100%;
        padding-top: 15px;
        padding-bottom: 15px;

        .work__info {
            height: 100%;
            width: 40%;
            top: 50%;
            backdrop-filter: blur(40px);
            border-radius: 20px;
            border: 1px solid #367D6C;
            padding: 20px;
            background: var(--background-second-color);

            .background__elements {
                width: 100%;
                height: 100%;
                position: absolute;
                pointer-events: none;
                display: flex;

                .backgroud__element {
                    height: fit-content;
                    position: absolute;
                    width: fit-content;
                    top: -20px;
                    right: 20px;
                    z-index: 4;
                    background: #367D6C;
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    padding: 10px;
                    justify-content: center;
                    font-weight: 300;
                    letter-spacing: 1px;
                    border-top-right-radius: 17px;
                    color: #fff;
                    border-bottom-left-radius: 5px;
                }
            }

            .work__header {
                width: 100%;
                height: fit-content;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .work__name {
                    color: var(--text-color);
                    font-weight: 300;
                    font-size: 30px;
                }
            }

            .work__preview {
                width: 100%;
                height: auto;
                margin-top: 20px;
                border-radius: 20px;
            }

            .work__description {
                color: var(--text-color-second);
                margin-top: 10px;
                width: 100%;
                font-size: 13px;
            }

            .work__subnav {
                background: #367D6C;
                font-weight: 300;
                width: fit-content;
                margin-top: 30px;
                padding: 5px;
                color: #fff;
                border-radius: 5px;
            }

            .domain__wrap {
                width: 100%;
                display: flex;
                margin-top: 10px;
                align-items: center;

                .domain__img {
                    &.invert {
                        filter: invert(1);
                    }
                }

                .domain {
                    margin-left: 10px;
                    cursor: pointer;

                    &.invert {
                        filter: invert(1);
                    }
                }
            }

            .work__slider {
                width: 100%;
                height: 300px;
                margin-top: 10px;

                .slide {
                    width: 100%;
                    height: 100%;
                    pointer-events: all;

                    .slider__image {
                        height: 100%;
                        width: 100%;
                        border-radius: 20px;
                        object-fit: contain;
                    }
                }

            }
        }



        .work__right {
            height: 100%;
            width: 20%;

            .work__navigation {
                height: 40%;
                align-self: flex-start;
                width: 100%;
                border-radius: 20px;
                background: var(--background-second-color);
                backdrop-filter: blur(10px);
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                padding: 10px;
                z-index: 3;
                position: relative;

                .nav__wrap {
                    >p {
                        color: var(--text-color);
                        cursor: pointer;
                        margin-top: 10px;
                        transition: .3s;
                        font-size: 20px;

                        &:hover {
                            color: #367D6C;
                        }

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }

                .work__btn {
                    width: 100%;
                    height: 40px;
                    border-radius: 20px;
                    font-weight: 300;
                    border: 1px solid #367D6C;
                    font-family: "Montserrat";
                    color: var(--text-color);
                    font-size: 18px;
                    overflow: hidden;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 100%;
                        background: rgba(54, 125, 108, 1);
                        transition: left 0.3s ease;
                        z-index: -1;
                        border-radius: 15px;
                    }

                    &:hover {
                        color: #fff;


                        &::before {
                            left: 0;
                        }
                    }
                }
            }

            .work__subtitle {
                margin-top: 10px;
                color: var(--text-color);

            }

            .work__tags {
                width: 100%;
                margin-top: 10px;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                .tag {
                    color: var(--text-color);
                    border-radius: 20px;
                    border: 1px solid #367D6C;
                    padding: 10px;

                    &:first-child {
                        background: #367D6C;
                        color: #fff;
                    }
                }
            }
        }
    }


}




// .blurCircle1 {

//     width: 500px;
//     height: 500px;
//     border-radius: 50%;
//     filter: blur(40px);
//     top: -150px;
//     left: -150px;
//     border: 1px solid red;
//     opacity: 0.7;
//     transform: translateZ(0);
//     will-change: transform, filter;
//     animation: float 15s ease-in-out infinite;

//     &::before {
//         content: '';
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         border-radius: 50%;
//         background: radial-gradient(circle, rgba(54, 125, 108, 0.3) 0%, transparent 70%);
//         animation: colorShift1 12s ease-in-out infinite;
//     }
// }

// .blurCircle2 {
//     position: absolute;
//     width: 600px;
//     height: 600px;
//     border-radius: 50%;
//     filter: blur(50px);
//     transform: translateZ(0);
//     will-change: transform, filter;
//     bottom: -200px;
//     right: -200px;
//     opacity: 0.6;
//     animation: float 18s ease-in-out infinite reverse;

//     &::before {
//         content: '';
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         border-radius: 50%;
//         background: radial-gradient(circle, rgba(76, 81, 191, 0.25) 0%, transparent 70%);

//     }
// }

// .blurCircle3 {
//     position: absolute;
//     width: 400px;
//     transform: translateZ(0);
//     will-change: transform, filter;
//     height: 400px;
//     border-radius: 50%;
//     filter: blur(35px);
//     top: 50%;
//     left: 60%;
//     opacity: 0.5;
//     animation: float 12s ease-in-out infinite 2s;

//     &::before {
//         content: '';
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         border-radius: 50%;
//         background: radial-gradient(circle, rgba(180, 70, 192, 0.2) 0%, transparent 70%);
//         animation: colorShift3 10s ease-in-out infinite;
//     }
// }
// }