.footer {
    width: 100%;
    height: 180px;
    padding: 10px;
    padding-top: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background: var(--background-second-color);
    backdrop-filter: blur(10px);
    position: relative;



    .footer__element {
        height: 50%;
        color: #fff;
        padding: 20px;
        width: fit-content;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 16px;
        position: absolute;
        bottom: 0;
        left: 40px;
        background: #367D6C;

        &.second {
            top: auto !important;
            bottom: 0 !important;
            left: auto !important;
            right: 40px !important;
        }
    }

    .footer__brend {
        width: 100%;
        display: flex;
        padding-top: 10px;
        flex-flow: column;

        align-items: center;

        .footer__logo {
            height: 50px;
            width: 129px;
        }

        .footer__name {
            color: var(--text-color-second);
            font-weight: 300;
        }
    }

    .footer__info {
        width: 100%;
        align-items: center;
        display: flex;
        flex-flow: column;
        font-weight: 300;
        gap: 10px;
        color: var(--text-color-second);
        letter-spacing: 1px;

        .link {
            cursor: pointer;
            text-decoration: none;
            color: var(--text-color-second);
        }
    }
}

@media(max-width: 830px) {
    .footer {
        .footer__element {
            display: none;
        }
    }
}