* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: auto;
  background: var(--background);
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-flow: column;
  align-items: center;
}

*::-webkit-scrollbar {
  width: 0px;
}