.work {
    border-radius: 20px;
    background: var(--background-second-color);
    text-decoration: none;
    backdrop-filter: blur(10px);
    position: relative;

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 20px;
        transition: .3s;
        opacity: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000000ab;

        .overlay__title {
            color: #fff;
            background: #367D6C;
            border-radius: 10px;
            padding: 10px;
            font-size: 30px;
        }

        &:hover {
            opacity: 1;
        }

    }

    .work__domain {
        position: absolute;
        height: 40px;
        width: fit-content;
        border-radius: 10px;
        backdrop-filter: blur(15px);
        top: 20px;
        background: radial-gradient(rgba(54, 125, 108, 0.5), rgba(54, 125, 108, 0.5));
        right: 20px;
        color: #fff;
        z-index: 4;
        pointer-events: all;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;


        &.app {
            padding: 0;
        }

        .rustore {
            height: 40px;
            width: fit-content;

        }

        &:hover {
            scale: 1.1;
        }
    }

    .work__footer {
        width: 100%;
        height: fit-content;
        padding: 20px;

        .work__name {
            color: var(--text-color);
            font-size: 33px;
        }

        .work__tags {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .tag {
                color: var(--text-color);
                border-radius: 20px;
                border: 1px solid #367D6C;
                padding: 10px;


                &:first-child {
                    background: #367D6C;
                    color: #fff;
                }

            }
        }
    }

    .work__image {
        width: 100%;
        height: auto;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-radius: 20px;
    }

}

@media(max-width: 942px) {
    .work {
        .work__footer {
            .work__name {
                font-size: 22px;
            }
        }
    }
}

@media(max-width: 431px) {
    .work {

        .work__domain {
            font-size: 12px;
        }

        .work__footer {
            padding: 10px;

            .work__tags {
                .tag {
                    font-size: 12px;
                }
            }
        }
    }
}