.contacts {
    width: 100%;
    height: fit-content;
    padding: 20px;
    padding-top: 0px;
    min-height: 75vh;
    display: flex;
    flex-flow: column;


    &.background {
        background: url('/background.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.background__dark {
        background: url('/dark_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .contacts__map {
        color: var(--text-color);
        margin-top: 30px;

        >span {
            color: #367D6C;
        }
    }

    .contacts__title {
        color: var(--text-color);
        font-weight: 300;
        z-index: 3;
        margin-top: 30px;
        font-size: 60px;

        >span {
            background: #367D6C;
            color: #fff;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10px;
        }
    }

    .contacts__section {
        width: 70%;
        margin-top: 40px;
        height: fit-content;

        border-radius: 20px;
        backdrop-filter: blur(60px);
        align-self: center;
        background: var(--background-second-color);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100% 100%;

        .contacts__block {
            border-right: 2px solid #367D6C;


            .block__title {
                padding: 5px;
                color: #fff;
                font-size: 20px;
                background: #367D6C;
                text-align: center;
                border-top-left-radius: 20px;
                width: 100%;

                &.second {
                    border-top-left-radius: 0px;
                    border-top-right-radius: 20px;
                }


            }

            .block__info {
                font-size: 15px;
                margin-top: 20px;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 20px;
                color: var(--text-color);

                >span {
                    color: #36a589;
                }
            }

            &:nth-child(2),
            &:nth-child(4) {
                border-right: 0;

            }

            &:nth-child(3),
            &:nth-child(4) {
                border-bottom: 0;

            }
        }
    }
}

@media(max-width: 1047px) {
    .contacts {
        .contacts__title {
            font-size: 40px;
        }

        .contacts__section {
            width: 100%;
        }
    }
}

@media(max-width: 787px) {
    .contacts {

        .contacts__title {
            font-size: 32px;
        }

        .contacts__section {
            height: fit-content;
            width: 100%;
            display: flex;
            flex-flow: column;


            .contacts__block {
                border: 0;
                padding-bottom: 20px;

                .block__title {
                    border-top-right-radius: 20px;

                    &.second {
                        border-radius: 0;

                    }
                }
            }
        }
    }
}

@media(max-width: 787px) {
    .contacts {
        .contacts__map {
            font-size: 14px;
        }

        .contacts__title {
            font-size: 22px;
        }

        .contacts__section {

            .contacts__block {
                .block__title {
                    font-size: 12px;
                }

                .block__info {
                    font-size: 12px;
                }
            }
        }
    }
}